:root {
    --maroon: #801B32;
    --white: #ffffff;
    --bg: #f6f4f1;
    --text: #1A1714;
    --gray: #777;
    --border: #ddd;
}


body {
    display: flex;
    height: 100vh;
    background: #f5f5f5;
    color: var(--text);
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.role {
    background: var(--maroon);
    color: var(--white);
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 20px;
    border-bottom: 1px solid var(--border);
}


.topbar-title {
    color: var(--maroon);
}


.user-info span {
    display: inline;
    font-size: 16px;
    gap: 5px;
    padding: 10px;
    border: 1px solid transparent;
    border-width: 0 10px 0 10px;
    border-radius: 20px;
}


.breadcrumb {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    color:black;
    border-bottom: 1px solid var(--border);
    background: #d0d0d0;
}


.content {
    padding: 15px;
    overflow-y: auto;
}


.box1 {
    padding: 10px;
    width: 100%;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
}


.box1_title {
    color: var(--maroon);
}


.box1_sub {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 20px;
}


.date {
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px 20px 0;
}


#date1 {
    padding: 5px;
    border: none;
    border-radius: 15px;
    background: #F3F4F6;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}


#date2 {
   padding: 5px;
    border: none;
    border-radius: 15px;
    background: #F3F4F6;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}


.choices {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.choices a {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    background: white;
    border: 1px solid #e0e0e0;
    color: black;
    font-size: 13px;
    font-weight: 500;
    transition: 0.2s ease;
}

.choices a:hover {
    background: #f5f5f5;
}

.choices a.active {
    background: #801B32;
    color: white;
}

.box2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
}


.box2_sub {
    font-size: 12px;
    color: var(--text);
    margin-bottom: 30px;
}


.dropdowns {
    display: flex;
    align-items: center;
    gap: 15px;
}


.dropdowns select {
    padding: 2px;
    border-radius: 8px;
    border: 2px solid #e0e0e0;
    background: #F3F4F6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}


.excel {
    padding: 8px 30px 8px 30px;
    font-weight: bold;
    border-radius: 10px;
    background: var(--maroon);
    color: var(--white);
}


#product {
    width: auto;
    height: 30px;
    border: 1px solid var(--gray);
    border-radius: 20px;
}


.box3 {
    padding: 10px;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: auto;
    background: var(--white);
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}


th {
    padding: 14px 18px;
    text-align: left;
    font-size: 11px;
}

td {
    padding: 14px 18px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}

tbody tr:hover {
    background: #fafafa;
}


.header-box th {
    background: var(--maroon);
    color: var(--white);
}


.header-box th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.header-box th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.column {
    border-radius: 10px;
    background-color: #801b32;
}