:root {
    --gold: #FFBF00;
    --maroon: #801B32;
    --white: #FFFFFF;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #801B32 0%, #5A1424 100%);
}

.login_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo_div {
    text-align: center; 
    color: white; 
    margin-bottom: 20px;
}

.logo_text{
    letter-spacing: 2px; 
    margin: 0;
}

.prism_img{
    width: 80px; 
    display: block; 
    margin: 0 auto 10px;
}

.login_card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 320px;
    height: auto;  
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}
.login_card h2{
    color: #801B32; 
    margin-bottom: 20px;
}
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

#message {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.success {
    color: green;
    height: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid green;
    background: #F0fdf4;
}

.error {
    color: red;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid red;
    background: #FEF2F2;
}

.btn-gold {
    width: 100%;
    background: #FFBF00;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}