
:root {
    --maroon: #801B32;
    --white: #ffffff;
    --bg: #f6f4f1;
    --text: #1A1714;
    --gray: #777;
    --border: #ddd;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f4f4f4
}

.box1 {
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
}

.box1_title {
    color:#801B32;
    margin: 0;
}

.box1_sub {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px 0 0;
}

#date1 {
    padding: 5px;
    border: none;
    border-radius: 15px;
    background: #f4f4f4;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#date2 {
   padding: 5px;
    border: none;
    border-radius: 15px;
    background: #f4f4f4;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.tab-choices {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: 13px;
    gap: 20px;
}

.tab-choices a.tab {
    all: unset;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    background: var(--white);
    border: 1px solid #e0e0e0;
    color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.tab-choices a.current {
    background: var(--maroon);
    color: var(--white);
}

.box2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: var(--white);
}

.box2_title {
    color:#801B32;
    margin: 0px;
}

.box2_sub {
    font-size: 12px;
    color: var(--text);
    margin: 0px;
}

.excel {
    padding: 8px 30px 8px 30px;
    font-weight: bold;
    border-radius: 10px;
    background: #801B32;
    color: var(--white);
}

#product {
    width: auto;
    height: 30px;
    border: 1px solid var(--gray);
    border-radius: 15px;
}

.box3 {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: auto;
    background: var(--white);
}

.low-table {
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th { 
  padding: 10px 10px; 
  font-size: 12px; 
  text-align: center; 
  color: #ffffff;
  background: #801B32;
}

td { 
  padding: 10px 20px; 
  font-size: 13px; 
  text-align: center;
  border-bottom: 1px solid #eee; 
}

tfoot {
  background: #F6BE00;
  font-weight: bold;
}